.swiperBox {
    height: calc(8rem - 16px);
    overflow: hidden;
    position: relative;
    width: 100vw;
}
.swipperContainer {
    padding: 0 1rem;
    display: flex;
    gap: 1.4rem;
    height: 8rem;
    overflow: auto;
    scroll-behavior: smooth;
}

.btnPrev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--background-card);
    border: none;
    height: 3rem;
    width: 2rem;
    outline: none;

    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 1.5rem;
        height: 1.5rem;
        transform: rotate(90deg);
    }
}

.btnNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--background-card);
    border: none;
    height: 3rem;
    width: 2rem;
    right: 0;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

    img {
        width: 1.5rem;
        height: 1.5rem;
        transform: rotate(-90deg);
    }
}

.itemContainer {
    list-style: none;
    width: 4rem;
    height: 4rem;
    position: relative;
    flex-shrink: 0;
    border: none;
    background: transparent;
    outline: none;
    
    & > div {
        width: 100%;
        height: 100%;
        background: var(--background-card);
        border-radius: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 2rem;
            height: 2rem;
        }
    }

    p {
        width: 100%;
        font-size: .8rem;
        color: var(--text-gray);
        margin-top: .5rem;
        text-align: center;
    }

    &.active {

        &::after {
            content: '';
            display: flex;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 10px;
            height: 2px;
            background: var(--green);
        }
        
        p {
            color: var(--white);
        }
    }
}

@media(max-width: 1080px) {
    .btnPrev, .btnNext {
        display: none;
        
    }

}

@media(min-width: 1080px) {

    .swiperBox {
        width: 100%;
    }
}